<div class="container-fluid">
  <div class="row">
    <% @movies.each.with_index do |movie, i| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-dark mb-3">
          <div class="card-header p-0">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src=<%= movie.url%> allowfullscreen></iframe>
            </div>
          </div>
          <div class="card-body text-dark movie-body">
            <p class="card-text movie-title">
              <% if movie.id >= 19 %>
                Lv.<%= i + 19 %>：<%= movie.title %>
              <% else %>
                Lv.<%= i + 1 %>：<%= movie.title %>
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
    </div>
    <nav>
        <ul class="pagination pagination-sm">
          <%= paginate @movies %>
        </ul>
    </nav>
</div>
