<div class="container-fluid">
  <div class="row">
    <% @texts.each do |text| %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card border-dark mb-3">
          <%= link_to text_path(text.id),target: :blank do %>
            <div class="card-header p-0">
              <div class="card-header p-0">
                <div class="embed-responsive embed-responsive-16by9">
          
                </div>
              </div>
            </div>

            <!-- 読破ボタン -->
            <% if @read_text_ids.include?(text.id) %>
              <%= link_to text_reads_path(text), method: :delete, remote: true do %>
                <div class="btn btn-primary btn-block btn-sm">読破済みを解除</div>
              <% end %>
            <% else %>
              <%= link_to text_reads_path(text), method: :post, remote: true do %>
                <div class="btn btn-secondary btn-block btn-sm">読破済みにする</div>
              <% end %>            
            <% end %>

            <div class="card-body text-dark text-body">
              <p class="card-text text-title">
                <%= text.title %>
              </p>
              <p>【<%= text.genre %>】</p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>